/* Content */
#content {
    margin: 0px 200px;
    padding: 0px;
    width: calc(100% - 400px);
}

/* Header */
#header {
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
}

#header-description {
    font-size: 24px;
}

#header-title {
    font-size: 40px;
}

#header-description, #header-title {
    color: var(--theme-white);
    margin: 0px;
    padding: 0px;
}

/* Tips */
#tips {
    margin: 150px 0px;
    padding: 0px;
    text-align: center;
}

#tips ul {
    margin: 0px;
    padding: 0px;
}

#tips ul p {
    color: var(--theme-white);
    font-size: 24px;
    margin: 20px 0px;
    padding: 0px;
}

/* Portal */
#portal {
    margin: 150px 0px;
    padding: 0px;
    text-align: center;
}

#portal-link {
    background-color: var(--theme-light);
    padding: 10px 50px;
    text-decoration: none;
    width: 100px;
}

#portal-link:hover {
    background-color: var(--theme-highlight);
    color: #FFFFFF;
    padding: 10px 60px;
}

#portal-link, #portal-title {
    color: var(--theme-white);
    font-size: 24px;
    transition: all 0.2s ease;
}

/* Other */
@media only screen and (max-width: 768px) {
    /* Content */
    #content {
        margin: 0px 50px;
        width: calc(100% - 100px);
    }
}

@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 375px) {
}