/* -----# Variables #----- */
:root {
    /* Colors */
    --color-1: #1f1f2f;
    --color-2: #2f2f4f;
    --color-3: #4f4f8f;
}





/* -----# Global Styles #----- */

/* Full Screen */
html, body, #website { height: 100%; width: 100%; }

/* Vertical Layout */
#website { display: flex; flex-direction: column; }

/* No Default Spacing */
* { margin: 0; padding: 0; }

/* Default Text Styles  */
* { color: #efefef; font-family: "Noto Sans"; font-size: 15px; }

/* -----# Global Styles #----- */





/* -----# Structure Styles #----- */

/* Header */
header {
    /* Horizontal + Center Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5%;

    /* Adjust Size */
    height: 3em;
    padding: 1em 0;
    
    /* Avatar */
    & img {
        /* Make Smol */
        height: 3em;

        /* Funni Hover */
        &:hover { rotate: 180deg; }
    }

    /* Buttons */
    & button {
        /* Uniform Width */
        width: 5em;

        /* No Background */
        background: none;
        border: none;

        /* Pointer Cursor */
        cursor: pointer;
        
        /* Text Styles */
        font-weight: bold;
        text-align: center;
        text-decoration: none;

        /* Hover Underline */
        &:hover { text-decoration: underline; }
    }
}

/* Main */
main {
    /* Full Height */
    flex: 1;

    /* Padding */
    padding: 0 2em;
}

/* Footer */
footer {
    /* Horizontal + Spread Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Adjust Size */
    height: 1em;
    padding: 1em 2em;

    /* Text Styles */
    & div { font-size: 0.75em; }
    & a, span { color: var(--color-1); font-size: 1em; }

    /* Redirections */
    & a {
        /* Add Underline */
        text-decoration: underline;

        /* Hover Animation */
        transition: color 0.2s ease;
        &:hover { color: var(--color-2); }
    }
}

/* -----# Structure Styles #----- */





/* -----# Content Styles #----- */

/* Game */
#game {
    /* No Border */
    border: none;
    opacity: 0.2;
}

/* Shade */
#shade {
    /* Overlay Layout */
    position: absolute;
    top: 0;
    left: 0;

    /* Z Index */
    z-index: 10;

    /* Full Screen */
    height: 100vh;
    width: 100vw;

    /* Background Color */
    background: black;

    /* Fade Animation */
    transition: opacity 0.2s ease;
    &.enabled { opacity: 50%; pointer-events: all; }
    &.disabled { opacity: 0%; pointer-events: none; }
}

/* Popup */
#popup {
    /* Vertical + Center Layout */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    /* Z Index */
    z-index: 20;
    
    /* Clamp Size */
    min-height: 100px;
    min-width: 100px;
    max-height: 75vh;
    max-width: 50vw;
    
    /* Side Padding */
    padding: 1em 0.5em;
    
    /* Background Color */
    background: var(--color-1);

    /* Border Color */
    border: solid 0.5em var(--color-2);
    border-radius: 0.5em;

    /* Scale Animation */
    transition: scale 0.2s ease;
    &.enabled { scale: 100%; }
    &.disabled { scale: 0%; }

    /* Close Button */
    & #close {
        /* Top Right Layout */
        position: absolute;
        top: -0.25em;
        right: -0.25em;
        translate: 50% -50%;

        /* Z Index */
        z-index: 30;

        /* No Background */
        background: none;
        border: none;

        /* Pointer Cursor */
        cursor: pointer;

        /* Adjust Size */
        width: 2em;
        height: 2em;

        /* Fit Image */
        & img { height: 100%; width: 100%; }

        /* Hover Animation */
        transition: opacity 0.2s ease;
        &:hover { opacity: 75%; }
    }

    /* Content Board */
    & #board {
        /* Side Padding */
        padding: 0em 1em;
        
        /* Enable Scroll */
        overflow: auto;

        /* Scrollbar Styles */
        scrollbar-color: var(--color-3) var(--color-2);
        scrollbar-gutter: stable both-edges;
        scrollbar-width: thin;
    }
}

/* -----# Content Styles #----- */
