/* ----- # Default Styles # ----- */

/* Theme Colors */
:root { --color-1: #1f1f2f; --color-2: #2f2f4f; --color-3: #4f4f8f; }

/* Full Screen */
html, body, #website { height: 100%; width: 100%; }

/* Vertical Display */
#website { display: flex; flex-direction: column; }

/* No Default Spacing */
* { margin: 0; padding: 0; }

/* Default Text Styles  */
* { color: #efefef; font-family: "Noto Sans"; font-size: 15px; }
